    <div class="footer uk-text-center">
        <div class="uk-container">
            <div>
                <p>&copy; <%= new Date().getFullYear() %>, Made with <img src="heart.png" draggable="false" alt="Heart" width="18" height="18" />, By <a href="https://github.com/KiiMuu" target="_blank" class="uk-button-text">KiiMuu</a></p>
            </div>
        </div>
    </div>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.js"></script>
</body>
</html>