<div class="header">
    <div class="uk-position-relative uk-visible-toggle" tabindex="-1" data-uk-slideshow="min-height: 300; max-height: 600; animation: push; autoplay: false; pause-on-hover: false">
        <ul class="uk-slideshow-items">
            <li>
                <img src="main/header-1.jpg" alt="" uk-cover>
                <div class="uk-overlay-primary uk-position-cover"></div>
                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                    <h2 class="uk-text-uppercase">Shopify store</h2>
                    <p class="uk-margin-remove">Shopify store has many different categories of common clothes, phones, and computers brands</p>
                </div>
            </li>
            <li>
                <img src="main/header-2.jpg" alt="" uk-cover>
                <div class="uk-overlay-primary uk-position-cover"></div>
                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                    <h2 class="uk-text-uppercase">Shopify store</h2>
                    <p class="uk-margin-remove">Shopify store has many different categories of common clothes, phones, and computers brands</p>
                </div>
            </li>
            <li>
                <img src="main/header-3.jpg" alt="" uk-cover>
                <div class="uk-overlay-primary uk-position-cover"></div>
                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                    <h2 class="uk-text-uppercase">Shopify store</h2>
                    <p class="uk-margin-remove">Shopify store has many different categories of common clothes, phones, and computers brands</p>
                </div>
            </li>
        </ul>
        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
    </div>
</div>