<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="uk-container uk-margin" uk-margin>
    <div class="uk-alert-danger" uk-alert>
        <p>Something went wrong.</p>
    </div>
</div>

<%- include('partials/footer') %>