<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="uk-container uk-margin not-found uk-text-center" uk-margin>
    <div>
        <p>Oops!! :(</p>
        <div>
            <a href="/">Back to home?</a>
        </div>
        <div>
            <img class="uk-box-shadow-medium" src="notFound.png" alt="Not found" width="800" height="800" draggable="false" />
        </div>
    </div>
</div>

<%- include('partials/footer') %>